# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcworkspace/xcuserdata/
*.xcuserdatad/

# Swift Package Manager / Xcode integration
.swiftpm/
